*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#050816;
    color:white;
    overflow-x:hidden;
}


/* Hareketli arka plan */
#particles-js{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
}


/* Header */

header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    z-index:10;
}


.logo{
    font-size:30px;
    font-weight:900;
    color:#8b5cf6;
    text-shadow:0 0 20px #8b5cf6;
}


nav a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-weight:500;
    transition:.3s;
}


nav a:hover{
    color:#8b5cf6;
}


/* Ana bölüm */

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}


.hero h1{
    font-size:100px;
    font-weight:900;
    animation:float 3s infinite;
    color:white;
    text-shadow:
    0 0 10px #8b5cf6,
    0 0 40px #2563eb;
}


.hero h2{
    margin-top:20px;
    font-size:25px;
    color:#ddd;
}


.hero p{
    margin-top:15px;
    color:#aaa;
}


.btn{
    margin-top:35px;
    padding:15px 35px;
    background:#8b5cf6;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.3s;
}


.btn:hover{
    transform:scale(1.1);
    box-shadow:0 0 30px #8b5cf6;
}



@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

}


/* Telefon uyumu */

@media(max-width:700px){

.hero h1{
    font-size:60px;
}

nav{
    display:none;
}

}
